.footer {
  margin-top: auto;
  padding: 5vw var(--container-padding-x) 8rem;
  background-color: var(--background-beta);
}

.footer__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 68em) {
  .footer {
    padding: 5vw var(--container-padding-x);
  }
}
