* + .list {
  margin-top: clamp(1rem, 4vw, 3rem);
  padding-top: clamp(1rem, 4vw, 3rem);
  border-top: var(--list-border);
}

.list__item:not(:last-child) {
  margin-bottom: clamp(1rem, 4vw, 3rem);
  padding-bottom: clamp(1rem, 4vw, 3rem);
  border-bottom: var(--list-border);
}
