* + .list {
  margin-top: clamp(1rem, 4vw, 3rem);
}

.list__item:not(:last-child) {
  margin-bottom: clamp(1rem, 4vw, 3rem);
  padding-bottom: clamp(1rem, 4vw, 3rem);
  border-bottom: 0.5rem solid
    hsla(var(--color-alpha-h), var(--color-alpha-s2), var(--color-alpha-l), 0.1);
}
