@import '_reset.css';
@import '_config.css';
@import '_fonts.css';
@import '_helpers.css';
@import '_type.css';
@import '_nav.css';
@import '_list.css';
@import '_header.css';
@import '_footer.css';

html {
  background: var(--background-alpha);
  color: var(--text-color);
  font-family: var(--font-stack);
  font-size: clamp(16px);
}

body {
  display: flex;
  flex-flow: column;
}

a {
  transition: var(--transition);
  color: var(--anchor-color);
}

a:hover,
a:focus {
  color: var(--anchor-hover-color);
}

.container {
  width: 100%;
  min-width: var(--container-min-width);
  max-width: var(--container-max-width);
  margin-right: auto;
  margin-left: auto;
}

.main {
  padding: var(--container-padding-y) var(--container-padding-x);
}

.max-width-600 {
  max-width: 30rem;
}
