@import '_reset.css';
@import '_config.css';
@import '_fonts.css';

html {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-stack);
}

main {
  max-width: var(--main-max-width);
  margin-right: auto;
  margin-left: auto;
  padding: var(--main-padding-y) var(--main-padding-x);
}

header {
  padding: var(--main-padding-y) var(--main-padding-x);
}

a {
  transition: var(--transition);
  color: var(--anchor-color);
}

a:hover,
a:focus {
  color: var(--anchor-hover-color);
}
