<ol reversed class="list list-unstyled" style="counter-reset: start-from {{ postslist.length + 1 }}">
{% for post in postslist | reverse %}
  <li class="list__item">
    <article>
      <header>
        <h3>
          <a class="text-decoration-none" href="{{ post.url | url }}">
            {{ post.data.title }}
          </a>
        </h3>
      </header>
      <p>{{ post.data.description }}</p>
      <p>
        <time datetime="{{ post.date | htmlDateString }}">
          <small>{{ post.date | readableDate }}</small>
        </time>
      </p>
    </article>
    {# {% for tag in post.data.tags %}
      {%- if tag != "blogs" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %} #}
  </li>
{% endfor %}
</ol>
