<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta
      name="description"
      content="{{ renderData.description or description or metadata.description }}"
    />
    <meta name="theme-color" content="#28448A" />
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">

    {% set css %} {% include "css/styles.css" %} {% endset %}
    <style>
      {{css | postcss | safe}}
    </style>
    <link
      rel="alternate"
      href="{{ metadata.feed.path | url }}"
      type="application/atom+xml"
      title="{{ metadata.title }}"
    />
  </head>
  <body>
    <header>
      <h1 class="home">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </h1>

      {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
      <nav>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
          listClass: "nav",
          listItemClass: "nav-item",
          activeListItemClass: "nav-item-active",
          activeKey: eleventyNavigation.key
        }) | safe }}
      </nav>
    </header>

    <main {% if templateClass %} class="{{ templateClass }}" {% endif %}>
      {{ content | safe }}
    </main>

    <footer></footer>

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-49720877-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
