<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta
      name="description"
      content="{{ renderData.description or description or metadata.description }}"
    />
    <meta name="theme-color" content="#28448A" />
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
    <link rel="preload" href="/fonts/ubuntu-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/ubuntu-medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/ubuntu-bold.woff2" as="font" type="font/woff2" crossorigin>

    {% set css %} {% include "css/styles.css" %} {% endset %}
    <style>
      {{css | postcss | safe}}
    </style>
    <link
      rel="alternate"
      href="{{ metadata.feed.path | url }}"
      type="application/atom+xml"
      title="{{ metadata.title }}"
    />
  </head>
  <body>
    <nav class="nav">
      {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
        listClass: "nav__list",
        listItemClass: "nav__item",
        anchorClass: 'nav__anchor',
        activeAnchorClass: 'nav__anchor--active',
        activeKey: eleventyNavigation.key
      }) | safe }}
    </nav>

    {{ content | safe }}

    <footer class="footer">
      <div class="container footer__container">
        <p>Built with <a href="https://www.11ty.dev">Eleventy</a>.</p>
      </div>
    </footer>

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-49720877-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
