---
layout: layouts/base.njk
---

<header class="header">
  <div class="container">
    <h1 class="max-width-600">{{ title }}</h1>
    {% if description %}
      <p class="max-width-600">{{ description }}</p>
    {% endif %}
  </div>
</header>

<main class="main">
  <article class="container">
    {{ content | safe }}
  </article>
</main>
