@import '_reset.css';
@import '_config.css';

html {
  background: var(--background);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  transition: var(--transition);
  color: var(--anchor-color);
}

a:hover,
a:focus {
  color: var(--anchor-hover-color);
}
